{% extends 'school_site/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

   <table>
        <tr>
            <th>Activity name</th>
            <th>Author</th>
            <th>days/hours</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        {% for activity in activities %}
        <tr>
        <th>activity.name</th>
        <th>activity.creator</th>
        <th>activity.days_hour</th>
        <th>activity.price_per_month</th>
        <th>activity.details</th>
        </tr>
        {% endfor %}
    </table>


{% else %}
PAGE NOT AVAILABLE
{% endif %}
{% endblock %}