{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/school_site/stylesheets/double_entries_tables.css' %}" type="text/css">
</head>
<body>


{#    <div class="table_column_entry">#}
{#            {% for day in table_column_headers %}#}
{#                {{ day }}#}
{#            {% endfor %}#}
{#    </div>#}
{##}
{#    {% for day in table_row_headers %}#}
{#        <div class="table_row_entry">#}
{#        {{ day }}#}
{#        </div>#}
{#    {% endfor %}#}

    <form action='..' method="POST">
        {% csrf_token %}
        <table>
          <caption>CHILDREN AND DATES RAW TABLE</caption>
          <tr>
            <td></td>
              {% for day in table_column_headers %}
                <th scope="col">{{ day }}</th>
              {% endfor %}
          </tr>
            {% for item in table_rows %}
              <tr>
                <th scope="row">{{ item.header }}</th>
                  {% for value in item.columns %}
                    <td><input type="checkbox" name={{ value }} />&nbsp;</td>
                  {% endfor %}
              </tr>
            {% endfor %}
        </table>

        <input type="submit" value="Submit">
    </form>
</body>
</html>