{% extends 'school_site/base.html' %}
{% load static %}
{% block content %}
    <script src="../../static/school_site/js/util_forms.js" defer data-children=" {{ children }}"></script>
{#    <script src="{% static 'util_forms.js' %}" defer data-children=" {{ children }}"></script>#}
{% if user.is_authenticated %}
    <p id="test_js"> MY BILLS PAGE FOR EACH USER</p>
    {{ children }}
   <form action="" method="post">
    {% csrf_token %}
       {% for field in form.non_field_errors %}
        <div class="errors">
             {{ field }}
        </div>
        {% endfor %}
    {{ form.as_ul }}
    <input type="submit" value="Submit">
    </form>

{#   <form action="" method="post">#}
{#    {% csrf_token %}#}
{#   <label for="users" id="label_users">Users </label>#}
{#       {{ form.users }}#}
{#       <input type="submit" value="Submit">#}
{#    </form>#}

    <ul>TO ADD:
        <li>Logic of the bills</li>
        <li>1. choose the users to get the bills for (= user | partner | children)</li>
        <li>2. choose the period of time to get the bills (past years | this school year | a specific month and year</li>
        <li>3. get all the corresponding sheets archived only</li>
        <li>4. generate the bill</li>
    </ul>

{% else %}
PAGE NOT AVAILABLE
{% endif %}
{% endblock %}
