{% extends 'school_site/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
MY BILLS PAGE FOR EACH USER

    <ul>TO ADD:
        <li>Logic of the bills</li>
        <li>1. choose the users to get the bills for (= user | partner | children)</li>
        <li>2. choose the period of time to get the bills (past years | this school year | a specific month and year</li>
        <li>3. get all the corresponding sheets archived only</li>
        <li>4. generate the bill</li>
    </ul>

{% else %}
PAGE NOT AVAILABLE
{% endif %}
{% endblock %}