{% extends 'school_site/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    {% for item in activities %}
        {{ item.child }} activities are:
    {% for activity in item.activities %}
        {{ activity }}
    {% endfor %}
    {% endfor %}

    <table>
        <tr>
            <th>Member</th>
            <th>Activities</th>
            <th>Action</th>
        </tr>
        {% for child in children %}
        <tr>
            <th>{{ child.child }}</th>
            <th>
                <ul>
                {% for activity in child.activities %}
                    <li>{{ activity }}</li>
                {% endfor %}
                </ul>
            </th>
            <th>
                <ul>
                <li><button><a class="home_buttons" href="{%url 'school_site:edit_child' child_id=child.child.id%}">Edit profile </a></button></li>
                </ul>
            </th>
        </tr>
        {% endfor %}

        {% for adult in adults %}
        <tr>
            <th>{{ adult.user }}</th>
            <th>
                <ul>
                {% for activity in adult.activities %}
                    <li>{{ activity }}</li>
                {% endfor %}
                </ul>
            </th>
            {% if  adult.role == 'parent'%}
            <th>
                <ul>
                <li><button><a class="home_buttons" href="{%url 'school_site:edit_profile' user_id=adult.user.user.id%}">Edit profile </a></button></li>
                </ul>
            </th>
            <th>
                <ul>
                <li><button><a class="home_buttons" href="{%url 'password_change'%}">Change password</a></button></li>
                </ul>
            </th>
            {% else %}
            <th>
                <ul>
                <li><button><a class="home_buttons" href="{%url 'school_site:edit_profile' user_id=adult.user.user.id%}">Edit profile </a></button></li>
                </ul>
            </th>
            {% endif %}
        </tr>
        {% endfor %}


    </table>

    <div id="buttons">
        <button><a class="home_buttons" href="{%url 'school_site:add_child'%}">Add a child</a></button>
    </div>

    <div id="buttons">
        <button><a class="home_buttons" href="{%url 'school_site:add_partner'%}">Add my partner</a></button>
    </div>

    {% block edit_profile %}{% endblock %}

{% else %}
PAGE NOT AVAILABLE
{% endif %}
{% endblock %}