{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/school_site/stylesheets/loggin.css' %}" type="text/css">
    <link rel="icon"href="{% static 'school_site/images/favicon.ico' %}">
    <title>Login page</title>
</head>

<body>

    <div>
        <img id="logo-loggin" src="{%  static 'school_site/images/logo-2019.png' %}" alt="">
    </div>

<h2>Login to Andolina intranet</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form.non_field_errors %}
        <div class="errors">
             {{ field }}
        </div>
    {% endfor %}
    <div class="username">
        <div class="fieldWrapper" id="username">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
    </div>

    <div class="password">
        <div class="fieldWrapper" id="password">
            {{ form.password1.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
    </div>

    <button class="validation-button" type="submit">Login</button>
</form>
<button><a class='login_page' href="{% url 'password_reset' %}">Lost your password</a></button>

</body>
</html>