{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
{#    <link rel="stylesheet" href="{% static '/accounts/stylesheets/loggin.css' %}" type="text/css">#}
</head>
<body>
{#<img src="{% static 'base_app/images/fond_bibli_resized.png' %}" alt="" class="background">#}
<h2>Login to Andolina intranet</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form.non_field_errors %}
        <div class="errors">
             {{ field }}
        </div>
    {% endfor %}
    <div class="username">
        <div class="fieldWrapper" id="username">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
    </div>

    <div class="password">
        <div class="fieldWrapper" id="password">
            {{ form.password1.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
    </div>

    <button class="validation-button" type="submit">Login</button>
</form>
<button><a href="{% url 'password_reset' %}">Lost your password</a></button>
<!--<button class="back_home"><a id="home" href="../../">Page d'accueil</a></button>-->

</body>
</html>